# Virtual Machine Python
.venv/
venv/
env/

# Bytecode Python
__pycache__/
*.pyc

# (Weights)
*.pt
*.pth
*.ckpt
*.safetensors

# Datasets
AMBER/image/

# Environment variables
.env

# Cache model
.cache/
cache/

./run_log.txt

test