# Core Model Dependencies
transformers==4.35.2
bitsandbytes
accelerate
hf_transfer
einops
peft
salesforce-lavis==1.0.2

# Performance & Utilities
contexttimer
decord
fairscale==0.4.4
ftfy
iopath
opendatasets

# Inventory & Augmentation (SAM/YOLO)
ultralytics
opencv-python
git+https://github.com/ChaoningZhang/MobileSAM.git

# Evaluation (AMBER)
spacy
nltk